#lol {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tap_panels{
margin: 0;
    padding: 0;

}
.tap_panels ul li{
    list-style-type: none;
    display: inline-block;
    background: #737373;
    color: #e3e3e3;
    padding: 2%;

}

.tap_panels ul li:hover{
    color: #dff0d8;
}

.tap_panels .panel{
  display: none;
    background: #c0c0c0;
}

.tap_panels.taps.active{
    color:greenyellow;
}

.tap_panels .panel.active {
    display:block;
    background: #c0c0c0;

}
.container-fluid{
    background-color:#ffffff !important;
    border-color:#ffffff !important;

}
#logoutButton{
    left:1478%;
}
#btn{
    left:7330%;
    margin-top: 18px;


}.jumbotron{
 }


.box{
border-bottom-color: black;
    width: 100%;
    left: 25%;

    position:absolute
}
.welcome_box{
    left: 40%;
    right: 50%;
    top: 35%;
    position:absolute
}